<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2><span ng-bind="project.code"></span> Issues</h2>
        <ol class="breadcrumb">
            <li>
                <a ng-href="/Index">Home</a>
            </li>
            <li class="active">
                <strong>Issues</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row text-danger" ng-show="errorMessage">{{ errorMessage }}</div>

    <div class="row" ng-show="!errorMessage">
        <div class="ibox">
            <span>Choose project:</span>
            <div custom-select="p.id as p.code for p in projects | filter: { code: $searchTerm }" ng-model="project"
                 custom-select-options="selectOptions" >
                <div class="pull-left">
                    <strong>{{ p.code }}</strong><br />
                    <span>{{ p.name }}</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="ibox-title">
                <h5>Issue list</h5>
                <div class="ibox-tools">
                    <a ng-href="/Issues/Create/{{projectId}}" class="btn btn-primary btn-xs modal-link ng-class: {'disabled': !isProjectChoosen}">Add new issue</a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row m-b-sm m-t-sm">
                    <div class="col-md-1">
                        <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                    </div>
                    <div class="col-md-11">
                        <div class="input-group">
                            <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row m-t-md m-b-sm">
                    <strong>Found {{ issues.length }} issues.</strong>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover issue-tracker">
                        <thead>
                        <tr>
                            <th>State</th>
                            <th>Number</th>
                            <th/>
                            <th>Create date</th>
                            <th>Due date</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="issue in issues">
                        <tr>
                            <td>
                                <span ng-class="getStatusClass(issue.status)">{{issue.status}}</span>
                            </td>
                            <td class="issue-info">
                                <a ng-href="/Issues/Edit/{{issue.id}}" class="modal-link">
                                    {{ issue.fullNumber }}
                                </a>
                                <small>
                                    {{ issue.summary }}
                                </small>
                            </td>
                            <td>
                                {{ issue.reporter }}
                            </td>
                            <td>
                                {{ issue.createDate | date }}
                            </td>
                            <td>
                                {{ issue.dueDate | date }}
                            </td>
                            <td>
                                <span class="pie">0.52,1.041</span>
                                2d
                            </td>
                            <td class="text-right">
                                <a ng-href="/Issues/Edit/{{issue.id}}" class="btn btn-white btn-xs modal-link">Edit</a>

                                <form method="post" ng-submit="deleteIssue(issue, $index)" class="inline-form">
                                    <button type="submit" class="btn btn-white btn-xs" onclick="return confirm('Are you sure you wish to delete this issue?');"> Delete</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <wait-cursor display-when="isBusy"></wait-cursor>
                </div>
            </div>
        </div>
    </div>
</div>