<div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Project edit</h2>
            <ol class="breadcrumb">
                <li>
                    <a ng-href="/">Home</a>
                </li>
                <li>
                    <a ng-href="/Issues/">Issues</a>
                </li>
                <li class="active">
                    <strong>Issue: {{issue.name}} [{{projectCode}}]</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1"> Issue info</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <fieldset class="form-horizontal">
                                    <form name="issueForm" role="form" ng-submit="saveIssue()">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Summary:</label>
                                            <div class="col-sm-10">
                                                <input name="code" type="text" ng-model="issue.summary" class="form-control"
                                                       placeholder="Summary" required ng-minlength="3" ng-maxlength="40">
                                            </div>
                                            <span ng-show="issueForm.summary.$error.required" class="text-warning">Summary field is required.</span>
                                            <span ng-show="issueForm.summary.$error.minlength" class="text-warning">Summary must be atleast 3 characters.</span>
                                            <span ng-show="issueForm.summary.$error.maxlength" class="text-warning">Summary may have a maximum of 40 characters.</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Description:</label>
                                            <div class="col-sm-10">
                                                <summernote ng-model="issue.description"></summernote>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Created:</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input name="createDate" ng-model="issue.createTimeStamp" class="form-control" readonly="readonly"/>
                                            </div>
                                        </div>
                                        <div class="form-group date" data-provide="datepicker" readonly>
                                            <label class="col-sm-2 control-label">Due date:</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input onkeydown="return false" class="form-control" ng-model="issue.dueDate">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Last update:</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input name="lastUpdateDate" ng-model="issue.lastUpdateTimeStamp" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary" ng-disabled="issueForm.$invalid">Save changes</button>
                                        <button ng-click="cancelEdit()" type="button" class="btn btn-white">Close</button>
                                    </form>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>