@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
}

@section Scripts {
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/js/issuesController.js"></script>
}

<div class="modal-content" ng-controller="issuesController as vm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">@ViewBag.Title</h4>
        <small class="font-bold">@ViewBag.AdditionalInfo</small>
    </div>

    <form name="issueForm" role="form" ng-submit="vm.saveIssue()">
        <input name="Id" id="Id" type="hidden" value="{{issue.id}}" />
        @*<div asp-validation-summary="ValidationSummary.ModelOnly"></div>*@

        <div class="modal-body">
            <div class="form-group">
                <label for="summary" class="col-sm-2 control-label">Summary</label>
                <div class="col-sm-10">
                    <input name="summary" ng-model="vm.issue.summary" class="form-control" required ng-minlength="5" ng-maxlength="255" />
                    <span class="help-block m-b-none">Summary here</span>
                </div>
                <span ng-show="issueForm.summary.$error.required" class="text=warning">Summary field is required.</span>
                <span ng-show="issueForm.summary.$error.minlength" class="text=warning">Summary must be atleast 5 characters.</span>
                <span ng-show="issueForm.summary.$error.maxlength" class="text=warning">Summary may have a maximum of 255 characters.</span>
                @*<span asp-validation-for="Summary"></span>*@
            </div>
            <div class="form-group">
                <label for="dueDate" class="col-sm-2 control-label">Due date</label>
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="dueDate" id="dueDatePickup" ng-model="vm.issue.dueDate" class="form-control" data-provide="datepicker" />
                    @* @Html.TextBoxWithFormatFor(n => n.DueDate, new { @class = "form-control", id = "dueDatePickup", data_provide = "datepicker" })*@
                </div>
            </div>
            <div class="form-group">
                <label for="createDate" class="col-sm-2 control-label">Create date:</label>
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="createDate" ng-model="vm.issue.createDate" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea name="description" ng-model="vm.issue.description" class="form-control" rows="6"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" ng-disabled="issueForm.$invalid">Save changes</button>
        </div>
    </form>
</div>