@{
    ViewBag.Title = "Issues";
}

@section Scripts {
    <script type="text/javascript" src="~/lib/pace/pace.min.js"></script>
    <script type="text/javascript" src="~/js/issuesController.js"></script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Issues</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="App" asp-action="Index">Home</a>
            </li>
            <li class="active">
                <strong>Issues</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" ng-controller="issuesController as vm">

    <div class="row text-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>

    <div class="row" ng-show="!vm.errorMessage">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Issue list</h5>
                <div class="ibox-tools">
                    <a asp-controller="Issues" asp-action="Create" class="btn btn-primary btn-xs modal-link">Add new issue</a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row m-b-sm m-t-sm">
                    <div class="col-md-1">
                        <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                    </div>
                    <div class="col-md-11">
                        <div class="input-group">
                            <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row m-t-md m-b-sm">
                    <strong>Found {{ vm.issues.length }} issues.</strong>
                </div>

                <div ng-show="vm.isBusy" class="text-center">
                    <i class="fa fa-spinner fa-spin"></i> Loading...
                </div>

                <div class="table-responsive">
                    <table class="table table-hover issue-tracker">
                        <thead>
                            <tr>
                                <th>State</th>
                                <th>Number</th>
                                <th />
                                <th>Create date</th>
                                <th>Due date</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="issue in vm.issues">
                            <tr>
                                <td>
                                    <span ng-class="vm.getStatusClass(issue.status)">{{issue.status}}</span>
                                </td>
                                <td class="issue-info">
                                    <a asp-controller="Issues" asp-action="Edit" asp-route-id="{{ issue.id }}" class="modal-link">
                                        {{ issue.issueFullNumber }}
                                    </a>
                                    <small>
                                       {{ issue.summary }}
                                    </small>
                                </td>
                                <td>
                                    {{ issue.reporter }}
                                </td>
                                <td>
                                    {{ issue.createDate | date }}
                                </td>
                                <td>
                                    {{ issue.dueDate | date }}
                                </td>
                                <td>
                                    <span class="pie">0.52,1.041</span>
                                    2d
                                </td>
                                <td class="text-right">
                                    <a asp-controller="Issues" asp-action="Edit" asp-route-id="{{ issue.id }}" class="btn btn-white btn-xs modal-link">Edit</a>

                                    <form method="post" asp-controller="Issues" asp-action="Delete" class="inline-form">
                                        <input id="Id" name="Id" type="hidden" value="{{ issue.id }}" />
                                        <button type="submit" class="btn btn-white btn-xs" onclick="return confirm('Are you sure you wish to delete this issue?');"> Delete</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>