<form method="post" ng-submit="logout()" role="form" id="logoutForm"></form>

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <!--<strong class="font-bold">@User.Identity.Name</strong>-->
                            </span>
                            <span class="text-muted text-xs block">Menu <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInLeft m-t-xs">
                        <li>
                            <a ng-href="/Auth/Manage">Manage</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    PM
                </div>
            </li>
            <li>
                <a ng-href="/">
                    <i class="fa fa-laptop"></i>
                    <span class="nav-label">Home</span>
                </a>
            </li>
            <li>
                <a ng-href="/Clients/">
                    <i class="fa fa-male"></i>
                    <span class="nav-label">Clients</span>
                </a>
            </li>
            <li>
                <a ng-href="/Projects/">
                    <i class="fa fa-calculator"></i>
                    <span class="nav-label">Projects</span>
                </a>
            </li>
            <li>
                <a ng-href="/Issues">
                    <i class="fa fa-calendar"></i>
                    <span class="nav-label">Issues</span>
                </a>
            </li>
            <li>
                <a ng-href="/Teams">
                    <i class="fa fa-users"></i>
                    <span class="nav-label">Teams</span>
                </a>
            </li>
        </ul>
    </div>
</nav>