<ul class="nav navbar-top-links navbar-right">
    <li>
        <a asp-controller="Auth" asp-action="Register" id="register-link">Register</a>
    </li>
    <li>
        <a asp-controller="Auth" asp-action="Login" id="loginLink">Log in</a>
    </li>
</ul>
