<form method="post" asp-controller="Auth" asp-action="Logout" role="form" id="logoutForm" class="navbar-right">
    <ul class="nav navbar-top-links navbar-right">
        <li>
            <a asp-controller="Auth" asp-action="Manage" title="Manage">Hello @(User.Identity.Name)!</a>
        </li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </li>
    </ul>
</form>