@model int

@section Scripts {
    <script src="~/js/projectViewController.js" type="text/javascript"></script>
}

<div ng-controller="projectViewController as vm">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Project detail</h2>
            <ol class="breadcrumb">
                <li>
                    <a asp-controller="App" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-controller="Projects" asp-action="Index">Projects</a>
                </li>
                <li class="active">
                    <strong>Project detail</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div ng-init="vm.loadProject(@Model)"></div>
        <div class="col-lg-9">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
                                    <a href="#" class="btn btn-white btn-xs pull-right">Edit project</a>    
                                    <h2>Project: [{{vm.project.code}}] {{vm.project.name}}</h2>
                                </div>
                                <dl class="dl-horizontal">
                                    <dt>Status:</dt>
                                    <dd><span ng-class="vm.getProjectStatusClass()">{{vm.project.status}}</span></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <dl class="dl-horizontal">
                                    <dt>Created by:</dt>
                                    <dd>Alex Smith</dd>
                                    <dt>Client:</dt>
                                    <dd><a href="#" class="text-navy"> {{vm.project.customerName}}</a> </dd>
                                    <dt>Version:</dt>
                                    <dd> 	v1.4.2 </dd>
                                </dl>
                            </div>
                            <div class="col-lg-7" id="cluster_info">
                                <dl class="dl-horizontal">

                                    <dt>Last Updated:</dt>
                                    <dd>{{vm.project.lastUpdateDate | date:'dd-MM-yyyy H:mm'}}</dd>
                                    <dt>Created:</dt>
                                    <dd>{{vm.project.createDate | date:'dd-MM-yyyy H:mm'}}</dd>
                                    <dt>Participants:</dt>
                                    <dd class="project-people">
                                        <a href=""><img alt="image" class="img-circle" src="~/Images/a3.jpg"></a>
                                        <a href=""><img alt="image" class="img-circle" src="~/Images/a1.jpg"></a>
                                        <a href=""><img alt="image" class="img-circle" src="~/Images/a2.jpg"></a>
                                        <a href=""><img alt="image" class="img-circle" src="~/Images/a4.jpg"></a>
                                        <a href=""><img alt="image" class="img-circle" src="~/Images/a5.jpg"></a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <dl class="dl-horizontal">
                                    <dt>Completed:</dt>
                                    <dd>
                                        <div class="progress progress-striped active m-b-sm">
                                            <div ng-style="{ width: vm.project.percentageCompleteness + '%' }" class="progress-bar"></div>
                                        </div>
                                        <small>Project completed in <strong>{{vm.project.percentageCompleteness}}%</strong>. Remaining close the project, sign a contract and invoice.</small>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="wrapper wrapper-content project-manager">
                <h4>Project description</h4>
                <img src="~/Images/zender_logo.png" class="img-responsive">
                <p class="small">
                    {{vm.project.description}}
                 </p>
            </div>
        </div>
    </div>
</div>
