
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Clients</h2>
        <ol class="breadcrumb">
            <li>
                <a ng-href="/Index">Home</a>
            </li>
            <li class="active">
                <strong>Clients</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox">
                <div class="ibox-content">
                    <span class="text-muted small pull-right">Last modification: <i class="fa fa-clock-o"></i> 2:10 pm - 12.04.2016</span>
                    <h2>Clients</h2>
                    <p>
                        All clients need to be verified before you can send email and set a project.
                    </p>
                    <div class="ibox-tools">
                        <a ng-href="/Clients/Create" class="btn btn-primary btn-xs">Create new client</a>
                    </div>
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-1">
                            <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                        </div>
                        <div class="col-md-11">
                            <div class="input-group">
                                <input type="text" ng-model="searchText" placeholder="Search..." class="input-sm form-control">
                            </div>
                        </div>
                    </div>
                    <div class="clients-list">
                        <ul class="nav nav-tabs">
                            <span class="pull-right small text-muted">{{clients.length}} Elements</span>
                            <li ng-class="{'active' : tab == 1}">
                                <a ng-click="tab = 1" ng-init="tab = 1"><i class="fa fa-user"></i> Contacts</a>
                            </li>
                            <li ng-class="{'active' : tab == 2}">
                                <a ng-click="tab = 2"><i class="fa fa-briefcase"></i> Companies</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active" ng-show="tab == 1">
                                <div class="full-height-scroll">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <tbody ng-repeat="client in clients | filter: { type: 'Individual' } | filter: searchText">
                                                <tr>
                                                    <td><a data-toggle="tab" ng-click="loadClientDetails(client.id)" class="client-link">{{client.name}}</a></td>
                                                    <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                                                    <td> {{client.emailAddress}}</td>
                                                    <td class="client-status"><span ng-class="getStatusClass(client.status)">{{client.status}}</span></td>
                                                    <td class="project-actions">
                                                        <a ng-click="loadClientDetails(client.id)" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                                                        <a ng-href="/Clients/Edit/{{client.id}}" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                                                        <a ng-click="deleteClient(client, $index)" class="btn btn-white btn-sm"><i class="fa fa-trash-o"></i> Delete </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane active" ng-show="tab == 2">
                                <div class="full-height-scroll">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <tbody ng-repeat="client in clients | filter: { type: 'Company' } | filter: searchText">
                                                <tr>
                                                    <td><a data-toggle="tab" ng-click="loadClientDetails(client.id)" class="client-link">{{client.code}}</a></td>
                                                    <td><a class="client-link" ng-click="loadClientDetails(client.id)">{{client.name}}</a></td>
                                                    <td><i class="fa fa-flag"></i> {{client.country}}</td>
                                                    <td class="contact-type">
                                                        <i class="fa fa-envelope"> </i>
                                                    </td>
                                                    <td> {{client.emailAddress}}</td>
                                                    <td class="client-status"><span ng-class="getStatusClass(client.status)">{{client.status}}</span></td>
                                                    <td class="project-actions">
                                                        <a ng-click="loadClientDetails(client.id)" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                                                        <a ng-href="/Clients/Edit/{{client.id}}" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                                                        <a ng-click="deleteClient(client, $index)" class="btn btn-white btn-sm"><i class="fa fa-trash-o"></i> Delete </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox" ng-show="selectedClient.id > 0">
                <div class="ibox-content">
                    <div class="tab-content">
                        <div id="clientInfoBox" class="tab-pane active">
                            <div class="m-b-lg">
                                <div ng-show="selectedClient.type === 'Individual'">
                                    <h2>
                                        <strong>{{selectedClient.name}}</strong>
                                    </h2>
                                </div>
                                <div ng-show="selectedClient.type === 'Company'">
                                    <h2>
                                        <strong>{{selectedClient.code}}</strong>
                                    </h2>
                                    <p>{{selectedClient.name}}</p>
                                </div>
                                <div class="m-b-sm">
                                    <img alt="image" class="img-circle" src="/img/individual.png"
                                         style="width: 62px">
                                </div>
                                <div>
                                    <small>Active project completion with: 48%</small>
                                    <div class="progress progress-mini">
                                        <div style="width: 48%;" class="progress-bar"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="client-detail">
                                <div class="full-height-scroll">
                                    <div>
                                        <strong>Create date:</strong>
                                        <p>{{selectedClient.createTimeStamp | date:'dd-MM-yyyy hh-mm'}}</p>
                                    </div>
                                    <div>
                                        <strong>Last update:</strong>
                                        <p>{{selectedClient.lastUpdateTimeStamp | date:'dd-MM-yyyy hh-mm'}}</p>
                                    </div>
                                    <strong>Description:</strong>
                                    <p>
                                        {{selectedClient.description}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>